<%- include("partials/_header.ejs") -%> 
<%- include("partials/_navigation.ejs")-%>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Gallery</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- gallery -->
      <div  class="gallery">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="tz-gallery">
                  <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery1.jpg">
                           <img src="images/gallery1.jpg" alt="Bridge">
                           </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery2.jpg">
                           <img src="images/gallery2.jpg" alt="Bridge">
                           </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery3.jpg">
                           <img src="images/gallery3.jpg" alt="Bridge">
                           </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery4.jpg">
                           <img src="images/gallery4.jpg" alt="Bridge">
                           </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery5.jpg">
                           <img src="images/gallery5.jpg" alt="Bridge">
                           </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="images/gallery6.jpg">
                           <img src="images/gallery6.jpg" alt="Bridge">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      <%- include("partials/_footer.ejs") -%>