<%- include("partials/_header.ejs") -%> 
<%- include("partials/_navigation.ejs")-%>

<div class="container">
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
                     <div class="panel-body">
                    <form method="POST" action="users/signup" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12">
                                <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/_footer.ejs") -%>