<%- include("partials/_header.ejs") -%> 
<%- include("partials/_navigation.ejs")-%>
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Our Trainers</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div  class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="trai" class="trainer_box">
                     <div class="trainer_img">
                        <figure><img src="images/tra.jpg" alt="#"/></figure>
                     </div>
                     <div class="trainer">
                        <h3>sandy Mark </h3>
                        <p>architecture</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="trai" class="trainer_box">
                     <div class="trainer_img">
                        <figure><img src="images/tra0.jpg" alt="#"/></figure>
                     </div>
                     <div class="trainer">
                        <h3>limijack </h3>
                        <p>Maping</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="trai" class="trainer_box">
                     <div class="trainer_img">
                        <figure><img src="images/tra1.jpg" alt="#"/></figure>
                     </div>
                     <div class="trainer">
                        <h3>smith den </h3>
                        <p>Metarial</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end trainers -->
      <%- include("partials/_footer.ejs") -%>